html, body {
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.trello-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.trello-top {
    height: 40px;
    padding: 6px 4px;
    background-color: #ffffffa7;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.trello-logo {
    color: white;
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
}

.trello-body {
    flex: 5;
    display: flex;
    flex-direction: column;
    background:  #007AC2;
}

.body-board {
    flex: 1;
    display: flex;
    align-items: flex-start;
}

.trello-list {
    width: 300px;
    margin: 20px;
    border-radius: 10px;
    background-color: white;
    padding:  5px 15px 15px 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    flex-direction: column;
}

#add-list {
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 3px 20px 2px rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0.5px );
    -webkit-backdrop-filter: blur( 0.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 5px 10px;
    color: white;
    font-size: 20px;
}

#add-list:hover {
    cursor: pointer;
    box-shadow: 0 3px 10px 0px rgba( 31, 38, 135, 0.5 );
    transition: linear 1s;
}

#add-list:active {
    box-shadow: inset 0 3px 10px 0px rgba( 31, 38, 135, 0.01 );
    transition: linear 1s;
}

.item-footer {
    flex: 1;
    display: flex;
}

.input-bar {
    flex: 1;
    padding: 10px 5px;
    border: 2px solid #007AC2;
    outline: none;
    border-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.add-button {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    outline: none;
    border: none;
    background-color: #007AC2;
    color: white;
    font-size: 20px;
}

#logo-img {
    height: 100%;
}

.list-item {
    flex: 1;
    height: 50px;
    margin: 10px 0px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}